[submodule "backend-forge/vendor/forge-postgres"]
	path = backend-forge/vendor/forge-postgres
	url = https://github.com/forge-language/forge-postgres.git
[submodule "backend-forge/vendor/forge-web"]
	path = backend-forge/vendor/forge-web
	url = https://github.com/forge-language/forge-web.git
[submodule "backend-forge/vendor/forge-browser"]
	path = backend-forge/vendor/forge-browser
	url = https://github.com/forge-language/forge-browser.git
